<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--MyBatis설정파일에 mapUnderscoreToCamelCase 속성과
    BoardVO에 대한 타입앨리어스 속성을 설정하세요.-->
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="org.scoula.board.domain" />
    </typeAliases>

</configuration>
